// LUI2
// TABLE - LIST - MIXINS


.lui.table.list {
	.this(){
		border-collapse: collapse;
		width: 100%;
		padding: 5px;
		overflow: hidden;
		border: 0;
	}

	.thead {
		.cell(){
			padding: 10px;
			font-weight: bold;
			border-bottom: 2px solid rgba(0,0,0,0.05);
			text-align: left;
			
			// TODO: TEXT ALIGN PER BREAKPOINT
			&.a-left {
				text-align: left;
			}

			&.a-center {
				text-align: center;
			}

			&.a-right {
				text-align: right;
			}

			&.va-top {
				vertical-align: top;
			}

			&.va-middle,
			&.va-center {
				vertical-align: middle;
			}

			&.va-foot {
				vertical-align: baseline;
			}
			// TODO: TEXT ALIGN PER BREAKPOINT


			&.sortable,
			&.sortable-js {
				

				a {
					position: relative;
					padding-right: 35px;

					&:hover {
						text-decoration: none;
						color: #1185df;
					}

					&:before,
					&:after {
						position: absolute;
						top: 0;
						width: 13px;
						line-height: 10px;
						height: 10px;
						top: 50%;
						margin-top: -5px;
						text-align: center;
						font-family: FontAwesome;
						color: silver;
					}

					&:before {
						right: 0;
						content: "\f0d7";
					}

					&:after {
						right: 13px;
						content: "\f0d8";
					}

					
				}

				&.asc_active a:after {
					color: inherit;
				}

				&.desc_active a:before {
					color: inherit;
				}
			}

			&.sortable-js {
				cursor: pointer;

				&:hover > a {
					text-decoration: none;
					color: #1185df;
				}
			}
		}
	}

	.tbody {
		.row(){
			&.found {
				opacity: 1;
			}

			&.not-found {
				opacity: 0.4;
			}
		}

		.cell(){
			padding: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.03);
		

			// TODO: TEXT ALIGN PER BREAKPOINT
			&.a-left {
				text-align: left;
			}

			&.a-center {
				text-align: center;
			}

			&.a-right {
				text-align: right;
			}

			&.va-top {
				vertical-align: top;
			}

			&.va-middle,
			&.va-center {
				vertical-align: middle;
			}

			&.va-foot {
				vertical-align: baseline;
			}

			// TODO: TEXT ALIGN PER BREAKPOINT
		}

		.cell-even(){
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}

		.cell-last(){
			border-bottom-width: 5px;
		}
	}
}