// LUI2
// BUTTON - CONFIG


// BASIC STYLES
// these are basic styles you can change, if you want more, you can extend
// or compleletely overwrite mixin
@lui_button_border-radius:	3px;
@lui_button_icon_padding:	7px;

// SMALL
@lui_button_small_padding:		7px 15px;
@lui_button_small_font-size:	14px;

// REGULAR
@lui_button_regular_padding:	10px 20px;
@lui_button_regular_font-size:	16px;

// BIG
@lui_button_big_padding:		13px 25px;
@lui_button_big_font-size:		18px;

// BIG
@lui_button_huge_padding:		15px 30px;
@lui_button_huge_font-size:		20px;

// CLASSES
// all styles assigned to .lui_button
// turning off these settings WILL NOT disable .lui.button mixins
@lui_button_class_enabled:			true;

@lui_button_default_enabled:		true;
@lui_button_disabled_enabled:		true;
@lui_button_primary_enabled:		true;
@lui_button_secondary_enabled:		true;
@lui_button_info_enabled:			true;
@lui_button_success_enabled:		true;
@lui_button_warning_enabled:		true;
@lui_button_error_enabled:			true;


// MIXINS
// this is master switch to disable default mixins completely
// in case you want to write your own
@lui_button_mixin_enabled:				true;

@lui_button_mixin_default_enabled:		true;
@lui_button_mixin_disabled_enabled:		true;
@lui_button_mixin_primary_enabled:		true;
@lui_button_mixin_secondary_enabled:	true;
@lui_button_mixin_info_enabled:			true;
@lui_button_mixin_success_enabled:		true;
@lui_button_mixin_warning_enabled:		true;
@lui_button_mixin_error_enabled:		true;


// COLORS
@lui_button_default_bg:				transparent;
@lui_button_default_hover_bg:		rgba(0,0,0,0.05);
@lui_button_default_hover_inv_bg:	rgba(255,255,255,0.1);
@lui_button_default_active_bg:		rgba(0,0,0,0.1);

@lui_button_primary_color:			white;
@lui_button_primary_bg:				#1398fe;
@lui_button_primary_hover_bg:		#1185df;
@lui_button_primary_active_bg:		#1175c2;

@lui_button_secondary_color:		#2e2e2e;
@lui_button_secondary_bg:			#efefef;
@lui_button_secondary_hover_bg:		#dbdbdb;
@lui_button_secondary_active_bg:	#c7c7c7;

@lui_button_info_color:				white;
@lui_button_info_bg:				#6cb9f5;
@lui_button_info_hover_bg:			#62a9e0;
@lui_button_info_active_bg:			#579bcf;

@lui_button_success_color:			white;
@lui_button_success_bg:				#20c124;
@lui_button_success_hover_bg:		#1bac1e;
@lui_button_success_active_bg:		#189f1b;

@lui_button_warning_color:			white;
@lui_button_warning_bg:				#f3ad3f;
@lui_button_warning_hover_bg:		#da9b37;
@lui_button_warning_active_bg:		#c88f36;

@lui_button_error_color:			white;
@lui_button_error_bg:				#f33f3f;
@lui_button_error_hover_bg:			#da3333;
@lui_button_error_active_bg:		#cb2d2d;