// LUI2
// FORM - MIXINS


.lui.form when (@lui_form_mixins = true){
	// FORM ITEM
	.item {
		.this(){
			.lui.clear.after();
			padding: @lui_form_item_spacing 0;
			margin: 0 -15px;
		}

		// FORM ITEM LABEL
		.label() when (@lui_form_mixins_label = true){
			display: block;
			padding: @lui_form_label_spacing 15px;
			text-align: right;

			// REQUIRED ITEM
			&.required:after {
				color: @color_negative;
				content:" *";
			}

			// RESPONSIVE LABELS
			.block {
				text-align: left;
				padding: @lui_form_label_spacing 0;
			}

			&.xs-block {
				.lui.form.item.label.block();
			}

			.inline {
				text-align: right;
				padding: @lui_form_label_spacing 15px;
			}

			&.xs-inline {
				.lui.form.item.label.inline();
			}

			& when (@grid_sm_enable = true){
				@media (min-width:@grid_sm_start){
					&.sm-block {
						.lui.form.item.label.block();
					}
					&.sm-inline {
						.lui.form.item.label.inline();
					}
				}
			}

			& when (@grid_md_enable = true){
				@media (min-width:@grid_md_start){
					&.md-block {
						.lui.form.item.label.block();
					}
					&.md-inline {
						.lui.form.item.label.inline();
					}
				}
			}

			& when (@grid_lg_enable = true){
				@media (min-width:@grid_lg_start){
					&.lg-block {
						.lui.form.item.label.block();
					}
					&.lg-inline {
						.lui.form.item.label.inline();
					}
				}
			}

			& when (@grid_xl_enable = true){
				@media (min-width:@grid_xl_start){
					&.xl-block {
						.lui.form.item.label.block();
					}
					&.xl-inline {
						.lui.form.item.label.inline();
					}
				}
			}

			& when (@grid_hd_enable = true){
				@media (min-width:@grid_hd_start){
					&.hd-block {
						.lui.form.item.label.block();
					}
					&.hd-inline {
						.lui.form.item.label.inline();
					}
				}
			}

			& when (@grid_2k_enable = true){
				@media (min-width:@grid_2k_start){
					&.2k-block {
						.lui.form.item.label.block();
					}
					&.2k-inline {
						.lui.form.item.label.inline();
					}
				}
			}
		}

		// STATUS
		// FOR FORM VALIDATORS OR OTHER MESSAGES SHOWN BESIDE INPUT
		.status() when (@lui_form_mixins_status = true){
			padding: 11px 15px;
			margin: -5px 0;
			font-size: 12px;
			color: gray;
			padding-left: 0;

			// SOME SPACING
			&:before {
				padding-right: 7px;
			}

			&:after {
				padding-left: 7px;
			}

			// VARIANTS
			&.positive {
				color: @color_positive;
			}

			&.negative {
				color: @color_negative;
			}

			&.warning {
				color: @color_warning;
			}

			&.notice {
				color: @color_notice;
			}
		}

		// INPUT
		// wraps input or select elements
		.value {
			.this() when (@lui_form_mixins_value = true){
				// INPUT WITH PREFIX OR POSTFIX - width calculated by javascript
				// POSTFIX/PREFIX HAS ABSOLUTE POSITION
				&.postfix,
				&.prefix {
					position: relative;
					.lui.flexbox.block();
					.lui.flexbox.flex-wrap(nowrap);
					.lui.flexbox.align-content(stretch);
				}
			}

			// PREFIX
			.prefix() when (@lui_form_mixins_prefix = true){
				.lui.box-sizing.border-box();
				display: block;
				padding: 0 7px;
				float: left;
				line-height: 37px;
				height: 37px;
				background: #f2f2f2;
				border: 1px solid #e2e2e2;
				margin-right: -1px;
				font-size: 13px;
				color: gray;
				border-radius: 3px 0 0 3px;
				white-space: nowrap;
				text-decoration: none;

				&.clickable:hover {
					border-color: #539ad2;
					background: #6cb9f5;
					color: white;
					z-index: 2;
				}
			}

			// POSTFIX
			.postfix() when (@lui_form_mixins_postfix = true){
				.lui.box-sizing.border-box();
				display: block;
				padding: 0 7px;
				float: right;
				line-height: 37px;
				height: 37px;
				background: #f2f2f2;
				border: 1px solid #e2e2e2;
				margin-left: -1px;
				font-size: 13px;
				color: gray;
				border-radius: 0 3px 3px 0;
				white-space: nowrap;
				text-decoration: none;

				&.clickable:hover {
					border-color: #539ad2;
					background: #6cb9f5;
					color: white;
					z-index: 2;
				}
			}


			// TEXT INPUT STYLES
			.input(@width:100px) when (@lui_form_mixins_input = true){
				width: @width;
				height: 37px;
				border: 1px solid #e2e2e2;
				border-radius: 3px;
				padding: 10px;
				font-family: inherit;
				font-size: 13px;
				color: #555555;
				outline: none;

				&:focus {
					color: black;
					border-color: #c0c0c0;
				}

				&[disabled],
				&[readonly] {
					background:#f7f7f7;
					color: #5a5a5a;
					cursor: default;

					&:focus {
						color: #5a5a5a;
					}
				}
				
				&[readonly] {
					cursor: text;
				}
			}

			// TEXTAREA STYLES
			.textarea(@width:100%,@height:100px,@max-width:100%,@max-height:500px) when (@lui_form_mixins_textarea = true){
				width: @width;
				min-height: @height;
				max-width: @max-width;
				max-height: @max-height;
				height: 37px;
				border: 1px solid #e2e2e2;
				border-radius: 3px;
				padding: 10px;
				font-family: inherit;
				font-size: 13px;
				color: #555555;
				outline: none;

				&[disabled]{
					background:#f2f2f2;
					cursor: default;
				}

				&[readonly]{
					background:#f2f2f2;
					cursor: text;
				}

				&:focus {
					color: black;
					border-color: #c0c0c0;
				}
			}

			// SELECT
			.select(@width:100%) when (@lui_form_mixins_select = true){
				width: @width;
				height: 37px;
				border: 1px solid #e2e2e2;
				border-radius: 3px;
				padding: 9px;
				font-family: inherit;
				font-size: 13px;
				color: #555555;
				cursor: pointer;
				outline: none;

				&:focus {
					color: black;
					border-color: #c0c0c0;
				}

				&[disabled],
				&[readonly] {
					background:#f7f7f7;
					color: #5a5a5a;
					cursor: default;

					&:focus {
						color: #5a5a5a;
					}
				}
			}

			// SELECT JQUERY
			.select-jquery() when (@lui_form_mixins_select_jquery = true){
				.this(){
					position: relative;
					display: block;
					.lui.form.item.value.select();
					padding-left: 13px;
					padding-right: 45px;
					cursor: pointer;
					
					
					&.ui-selectmenu-disabled {
						background:#f7f7f7;
						cursor: text;
						color: #5a5a5a;
						cursor: default;
						pointer-events: none;
					}
					
					& > .ui-icon {
						display: inline-block;
						position: absolute;
						top: 50%;
						right: 15px;
						height: 20px;
						line-height: 20px;
						margin-top: -10px;
						
						&:before {
							font-family: FontAwesome;
							content: "\f0d7";
						}
					}
					
					& > .ui-selectmenu-text {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					
					&.ui-state-focus {
						& > .ui-icon {
							.lui.transform.rotate(180deg);
						}
					}
				}

				.dropdown(){
					position: relative;
					z-index: 20;
					padding: 0 2px 0 0; // BORDER SPACING
					
					& > .inside {
						position: absolute;

						.ui-selectmenu-menu {
							display: none;
							max-width: calc(~"100% - 0px");

							&.ui-selectmenu-open {
								display: block;
							}

							& > ul {
								display: block;
								max-width:100%;
								list-style: none;
								padding: 0;
								margin: 0;
								border: 1px solid #c0c0c0;
								border-top: 0;
								background: white;
								position: relative;
								top: -4px;
								
								& > li {
									display: block;
									max-width: 100%;
									padding: 10px 13px;
									font-size: 13px;
									cursor: pointer;
									white-space: normal;
									color: #2e2e2e;
									
									&:hover {
										background: rgba(0,0,0,0.05);
									}
									
									.ui-state-active {
										color: #108de6;
									}
								}
							}
						}
					}
				}
			}

			// jQuery datepicker
			.datepicker() when (@lui_form_mixins_datepicker = true){
				display: none;
				width: 300px;
				padding: 10px;
				background: white;
				border: 1px solid #e2e2e2;
				margin-top: -1px;

				// ACTUAL MONTH + ARROWS
				.ui-datepicker-header {
					position: relative;
					border-bottom: 2px solid #e2e2e2;
					font-size: 14px;

					// actual month
					.ui-datepicker-title {
						text-align: center;
						margin: 0 35px;
						font-size: 13px;
						font-weight: bold;
						height: 28px;
						line-height: 25px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					// select monts/year
					select {
						padding: 2px;
						border: 1px solid #e2e2e2;
						font-size: 13px;
						cursor: pointer;
						width: 35%;
						margin: 0 1px;
						height: 22px;
						border-radius: 3px;
					}

					// arrows
					.ui-datepicker-prev,
					.ui-datepicker-next {
						display: inline-block;
						position: absolute;
						top: 0;
						
						padding: 4px 6px;
						border-radius: 3px;
						cursor: pointer;
						color: #1398fe;

						&:hover {
							background: #1398fe;
							color: white;
						}
					}

					.ui-datepicker-prev {
						left: 0;
					}

					.ui-datepicker-next {
						right: 0;
					}
				}

				// calendar
				table {
					width: 100%;
					border-collapse: collapse;
					border: 0;
					font-size: 14px;

					th {
						padding: 5px;
						text-align: right;
						font-weight: bold;
					}

					td {
						padding: 1px;
						text-align: right;

						span,
						a {
							display: block;
							padding: 4px;
							border-radius: 3px;
							text-decoration: none;

							&.ui-state-highlight {
								font-weight: bold;
								color: #1398fe;
								background: #f2f2f2;
							}
						}

						a:hover {
							background: #1398fe;
							color: white;
						}
					}
				}
			}

			// CHECKBOX
			.check() when (@lui_form_mixins_check = true){
				position: relative;
				display: inline-block;
				cursor: pointer;
				height: 30px;
				padding-left: 30px;

				// FUCKING BROWSER DEVELOPERS
				// WHICH DECIDED TO HIDE ERRORS FOR NOT RENDERED INPUTS
				// MUST BE RENDERED OR "REQUIRED" INPUT WONT SHOW ERROR
				// input will become 1px dot hiding behind "before" FA icon
				input {
					display: inline-block;
					position: absolute;
					top: 22px;
					left: 7px;
					
					width: 1px;
					height: 1px;
					border: 0;
					outline: none;
					background-color: transparent !important;
					opacity: 0.1;
				}

				// SPAN MUST USED AT ALL TIME
				span {
					line-height: 30px;
					margin-right: 5px;
					color: #555555;
					font-size: 13px;

					&:before {
						.lui.box-sizing.border-box();
						position: absolute;
						top: 0;
						left: 0;
						width: 15px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						font-family: FontAwesome;
						font-weight: normal;
						font-size: 19px;
						content: "\f096";
						color: #e2e2e2;

						&:hover {
							color: gray;
						}
					}
				}

				&:hover span:before {
					color: #2c2c2c;
				}

				input:checked ~ span:before {
					content: "\f14a";
					color: #2c2c2c;
				}

				input:focus ~ span {
					background: rgba(0,0,0,0.05);

					&:before {
						color: #2c2c2c;
					}
				}

				&.positive input:checked ~ span:before {
					color: @color_positive;
				}

				&.negative input:checked ~ span:before {
					color: @color_negative;
				}

				&.warning input:checked ~ span:before {
					color: @color_warning;
				}

				&.notice input:checked ~ span:before {
					color: @color_notice;
				}
			}

			// LIST OF CHECKBOXES
			.checklist() when (@lui_form_mixins_check_list = true){
				padding: 8px 0;

				&.inline {
					.lui.clear.after();
					padding: 0 0 8px 0;
				}

				& > div {
					margin: -8px 0;
				}

				&.inline > div {
					float: left;
					margin: 0 20px -8px 0;
				}
			}

			// RADIO
			.radio() when (@lui_form_mixins_radio = true){
				position: relative;
				display: inline-block;
				cursor: pointer;
				height: 30px;
				padding-left: 30px;

				// FUCKING BROWSER DEVELOPERS
				// WHICH DECIDED TO HIDE ERRORS FOR NOT RENDERED INPUTS
				// MUST BE RENDERED OR "REQUIRED" INPUT WONT SHOW ERROR
				// input will become 1px dot hiding behind "before" FA icon
				input {
					display: inline-block;
					position: absolute;
					top: 22px;
					left: 7px;
					
					width: 1px;
					height: 1px;
					border: 0;
					outline: none;
					background-color: transparent !important;
					opacity: 0.1;
				}

				// SPAN MUST USED AT ALL TIME
				span {
					line-height: 30px;
					margin-right: 5px;
					color: #555555;
					font-size: 13px;

					&:before {
						.lui.box-sizing.border-box();
						position: absolute;
						top: 0;
						left: 0;
						width: 15px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						font-family: FontAwesome;
						font-weight: normal;
						font-size: 19px;
						content: "\f10c";
						color: #e2e2e2;

						&:hover {
							color: gray;
						}
					}
				}

				&:hover span:before {
					color: #2c2c2c;
				}

				input:checked ~ span:before {
					content: "\f192";
					color: #2c2c2c;
				}

				input:focus ~ span {
					background: rgba(0,0,0,0.05);

					&:before {
						color: #2c2c2c;
					}
				}

				&.positive input:checked ~ span:before {
					color: @color_positive;
				}

				&.negative input:checked ~ span:before {
					color: @color_negative;
				}

				&.warning input:checked ~ span:before {
					color: @color_warning;
				}

				&.notice input:checked ~ span:before {
					color: @color_notice;
				}
			}

			// LIST OF RADIOS
			.radiolist() when (@lui_form_mixins_radio_list = true){
				padding: 8px 0;

				&.inline {
					.lui.clear.after();
					padding: 0 0 8px 0;
				}

				& > div {
					margin: -8px 0;
				}

				&.inline > div {
					float: left;
					margin: 0 20px -8px 0;
				}
			}
		}
	}
}