// LUI2
// PAGEBAR



// ENABLE / DISABLE .lui_pagebar
@lui_pagebar_class_enabled:				true;

// ENABLE / DISABLE MIXIN: .lui.pagebar
@lui_pagebar_mixins_enabled:			true;
@lui_pagebar_mixins_alignments_enabled:	true;


@lui_pagebar_defailt_item_bg:		#e8f1f6;
@lui_pagebar_defailt_item_color:	#222c32;

@lui_pagebar_dark_item_bg:			#222c32;
@lui_pagebar_dark_item_color:		white;