// LUI2
// TABS - CONFIG


// TURN ON/OFF CLASS
@lui_tabs_class_enabled:					true;
@lui_tabs_class_list_enabled:				true;
@lui_tabs_class_list_item_enabled:			true;
@lui_tabs_class_list_link_enabled:			true;
@lui_tabs_class_list_link_active_enabled:	true;
@lui_tabs_class_content_enabled:			true;


// TURN ON/OFF MIXINS
@lui_tabs_mixins_enabled:					true;
@lui_tabs_mixins_list_enabled:				true;
@lui_tabs_mixins_list_item_enabled:			true;
@lui_tabs_mixins_list_link_enabled:			true;
@lui_tabs_mixins_list_link_active_enabled:	true;
@lui_tabs_mixins_content_enabled:			true;